* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.innercontainer {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    /*to place the form in center */
    justify-content: center;
    /*palce the form in center for right and left  */
}

form {
    width: 600px;
    height: 600px;
    display: flex;
    /*so that each input box takes its full space of line     */
    flex-direction: column;
    /*for setting element in a column style  */
    border-radius: 20px;
    outline: 1px solid rgba(255, 255, 255, .3);
    background: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}


/*designing of input box*/

input {
    width: 80%;
    margin: auto;
    /*places input boxes in center  */
    margin-bottom: 3%;
    /*tooks 7% margin from bottom */
    border: none;
    /*removes border */
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
}

button {
    width: 50%;
    margin: auto;
    border-bottom: none;
    color: white;
    font-size: 20px;
    background: red;
    padding: 10px 30px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
}

input::placeholder {
    color: grey;
    font-size: 20px;
}


/*designing of login button on hover    */

button:hover {
    color: white;
    background: brown;
}


/*designing of forget password*/

a {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 6%;
}

a:hover {
    color: blue;
}


/*designing of signIN h1*/

h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-bottom: 5%;
    margin-top: 5%;
}